body {
    background-color: #1c1c1c!important;
}
.home {
    margin: 80px 20px;
    display: flex;
    flex-direction: column;
}

/* ------------- Formatação de texto ------------- */
.titulo {
    font-family: 'Roboto', sans-serif;
    color: #6f68d6;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 27px;
}
.descricao {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 36px;
}
/* ------------- /Formatação de texto ------------- */

/* -------------------- Botões --------------------  */
.cadastrar .btn-cadastrar {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    background-color: #6f68d6;
    border-color: #6f68d6;
    border-radius: 2.7em;
    width: 172px; 
}
/* -------------------- /Botões -------------------  */

/* ----------------- Div esquerda ----------------- */
.esquerda img {
    width: 100%;
    height: 160px;
    margin-bottom: 40px;
}
/* ---------------- /Div esquerda ----------------- */

/* ----------------- Div direita ----------------- */
.direita img {
    width: 100%;
    height: 107px;
    margin-bottom: 33px;
}
/* Formulário */
form .form-group {
    margin-bottom: 2.5em;
}
form .form-control {
    font-size: 1.3em;
    border-radius: 0.75rem;
}
form label, .form-control {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.form-check-label {
    font-size: 15px;
}
.cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* /Formulário */


/* ----------------- /Div direita ----------------- */