/* Isabela Sofia, V-1 */
body {
    background-color: #1c1c1c!important;
}
.home {
    margin: 80px 20px;
    display: flex;
    flex-direction: column;
}

/* ------------------ Fontes -------------------- */
@font-face {
	font-family: Roboto;
	src: url(../fontes/Roboto-Black.ttf)
}
@font-face {
	font-family: Roboto-md;
	src: url(../fontes/Roboto-Medium.ttf)
}
/* ------------------ /Fontes ------------------- */

/* ------------- Formatação de texto ------------- */
.titulo {
    font-family: Roboto;
    color: #6f68d6;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 27px;
}
.descricao {
    font-family: Roboto-md;
    color: #fff;
    font-size: 20px;
    margin-bottom: 36px;
}
/* ------------- /Formatação de texto ------------- */

/* -------------------- Botões --------------------  */
.cadastrar .btn-cadastrar {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    background-color: #6f68d6;
    border-color: #6f68d6;
    border-radius: 2.7em;
    width: 172px; 
}
/* -------------------- /Botões -------------------  */

/* ----------------- Div esquerda ----------------- */
.esquerda img {
    width: 100%;
    height: 160px;
    margin-bottom: 40px;
}
/* ---------------- /Div esquerda ----------------- */

/* ----------------- Div direita ----------------- */
.direita img {
    width: 100%;
    height: 107px;
    margin-bottom: 33px;
}
/* ----------------- /Div direita ----------------- */

/* ----------------- Formulário ------------------- */
form .form-group {
    margin-bottom: 2.5em;
}
form .form-control {
    font-size: 1.3em;
    border-radius: 0.75rem;
}
form label, .form-control {
    font-family: Roboto-md;
    color: #fff;
    font-size: 20px;
    margin-bottom: 10px;
}
.form-check-label {
    font-size: 15px;
}
.cadastrar {
    display: flex;
    justify-content: center;
    align-items: center;
}
.senhaDiferente {
    display: none; 
    font-family: Roboto-md;
    color: #fff;
}
/* ----------------- /Formulário ----------------- */

/* --------------- Media Queries ----------------- */
@media (min-width: 700px) and (max-width: 1000px) {
    .descricao {
        width: 438px;
    }
    .esquerda img {
        height: 260px;
        margin-bottom: 50px;
    }
}
@media (min-width: 1000px) {
    .home {
        margin: 80px 100px;
        flex-direction: row;
    }
    .titulo {
        margin: 45px 0 27px;
    }
    .esquerda, .direita {
        width: 50%;
    }
    .esquerda img {
        height: 260px;
        margin-bottom: 50px;
    }
    .direita {
        margin-left: 190px;
    }  
    .direita img {
        width: 107px;
    }
    .cadastrar {
        justify-content: flex-start;
        align-items: flex-start;
    }
}
/* --------------- /Media Queries ---------------- */